<div class="card product-card" id="<%= dom_id product %>">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Price: <%= product.price %></p>
    <div>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <table>
          <tr>
            <td>
              <%= f.number_field :quantity, value: 0, min: 1, class: 'product-card-quantity-input' %>
            </td>
            <td>
              <%= f.submit 'Add Item', disable_with: 'Submiting...' %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
