<h1>Orders</h1>

<% unless @orders.blank? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Create Date</th>
        <th scope="col">Bill Amount</th>
        <th scope="col">Item Description</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= order.created_at.strftime('%d/%m/%Y - %H:%M %p') %></td>
        <td><%= "$ #{order.total_amount}" %></td>
        <td>
            <table>
              <% order.order_products.each do |order_product| %>
              <tr>
                <td>
                  <%= order_product.product.name %>
                </td>
                <td>
                  , Quantity: <%= order_product.quantity %>
                </td>
              </td>
              <% end %>
            </table>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
<% end %>
