<%= form_with(model: product, url: product.persisted? ? admin_product_path(product) : admin_products_path, data: { turbo: :false }) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :product_code, style: "display: block" %>
    <%= form.text_field :product_code, class: 'border border-dark-subtle rounded p-2' %>
  </div>

  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'border border-dark-subtle rounded p-2' %>
  </div>

  <div class="mb-3">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, class: 'border border-dark-subtle rounded p-2' %>
  </div>

  <div class="text-end">
    <%= form.submit class: 'btn btn-success btn-sm rounded p-2 fs-6' %>
  </div>
<% end %>
