<%= form_with(model: product_offer, url: product_offer.persisted? ? admin_product_offer_path(product_offer) : admin_product_offers_path) do |form| %>
  <% if product_offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product_offer.errors.count, "error") %> prohibited this admin_product_offer from being saved:</h2>
      <ul>
        <% product_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :product_id, 'Product', style: "display: block" %>
    <%= form.collection_select :product_id, Product.all, :id, :name, {}, {class: 'border border-dark-subtle rounded p-2 bg-white'} %>
  </div>
  <div class="mb-3">
    <%= form.label :for_quantity, style: "display: block" %>
    <%= form.number_field :for_quantity, class: 'border border-dark-subtle rounded p-2 bg-white' %>
  </div>
  <div class="mb-3">
    <%= form.label :discount, style: "display: block" %>
    <%= form.text_field :discount, class: 'border border-dark-subtle rounded p-2 bg-white' %>
  </div>
  <div class="text-end">
    <%= form.submit class: 'btn btn-success btn-sm rounded p-2 fs-6'%>
  </div>
<% end %>
