<p style="color: green"><%= notice %></p>

<%= render @product_offer %>

<div>
  <%= link_to "Edit this product offer", edit_admin_product_offer_path(@admin_product_offer) %> |
  <%= link_to "Back to product offers", admin_product_offers_path %>

  <%= button_to "Destroy this product offer", @admin_product_offer, method: :delete %>
</div>
